*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#cell-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#cell-container #cell-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    margin: auto;
    vertical-align: sub;
}

#cell-container #cell-table td {
    width: 50px;
    height: 50px;
    border: 1px solid #555;
    text-align: center;
}

#cell-container #cell-table td.src {
    background: green;
}

#cell-container #cell-table td.dest {
    background: red;
}

#cell-container #cell-table td.path {
    background: lightblue;
}

#cell-container #cell-table td.blocked {
    background: grey;
}
