*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#menu-container {
    margin: auto;
    text-align: center;
}

input[type="button"] {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
}

input[type="button"].active-button {
    background: #222;
    color: #fff;
}

#cell-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#cell-container #cell-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    margin: auto;
    vertical-align: sub;
    width: 500px;
    height: 500px;
}

#cell-container #cell-table td {
    width: 50px;
    height: 50px;
    border: 1px solid #555;
    text-align: center;
}

#cell-container #cell-table td.table-cell.src {
    background: green;
}

#cell-container #cell-table td.table-cell.dest {
    background: red;
}

#cell-container #cell-table td.path {
    background: lightblue;
}

#cell-container #cell-table td.blocked {
    background: url(../images/icons/brickwall.png) center center no-repeat;
}
